
a{
    color: white;
}

a:visited{
    color: white;
}

header{
    background-color: deepskyblue;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}

h2{
    font-size: large;
}

h1{
    text-align: center;
    font-size: 250%;
    margin: 0;
    padding: 0;
}

h3{
    text-align: center;
    font-size: 200%;
}

h4{
    font-size: 150%;
    text-align: center;
}

h5{
    font-size: 100%;
    text-align: right;
}

ul{
    font-size: 100%;
    text-align: right;
}

img{
    width: 50%;
    height: 50%;
    margin-right: 25%;
    margin-left: 25%;
    right: auto;
}

#top{
    bottom: 150px;
}

#middle{
    bottom: 85px;
}

#button{
    bottom: 20px;
}

div{
    position: fixed;
    left: 20px;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #367c39;
}

body{
    background-color: aliceblue;
    scroll-behavior: smooth;
}

footer{
    background-color: deeppink;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

div:active{
    background-color: #367c39;
    transform: scale(1.5);
}
