body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}
a , a:visited{
    color: white;
    font-size: xx-large;
}

header{
    background-color:aquamarine;
    margin: -30px 20% 20px -8px;
    padding: 10px 50px 5px 0px;
}
p{
    font-size: 150%;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    letter-spacing: 3px;
    word-spacing: 6px;
}

h1 , h2 , h3 , h4 ,h5 ,h6 ,li{
    text-align: center;
}

h1{
    font-size: 240%;
    font-weight: 900;
}

h2{
    font-size:200%;
    font-weight: 800;
    margin: 5% 0px 5% 0px;
}

h3{
    font-size: 160%;
    font-weight: 700;
}

h4{
    font-size: 120%;
    font-weight: 600;
}

h5{
    font-size: 80%;
    font-weight: 500;
}

h6{
    font-size: 40%;
    font-weight: 400;
}

img{
    width: 50%;
    height: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2%;
}

#top{
    bottom: 60%;
}

#middle{
    bottom: 40%;
}

#button{
    bottom: 20%;
}

div{
    position: fixed;
    left: 2%;
    padding: 2% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #367c39;
    z-index: 5;
}

main{
    background-color: bisque;
}

footer{
    background-color: deeppink;
    margin:0px -8px -20px -8px;
    padding: 5px 0px 5px 0px;
}

div:active{
    background-color: #367c39;
    transform: scale(1.5);
}